/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
  color: #656565;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 24px;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  font-weight: 100;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

a {
  color: #72b2c0;
  font-weight: 100;
  text-decoration: underline;
}

.l-header {
  background-color: #f7f7f7;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.l-header__heading {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  position: relative;
  z-index: 2;
}

.l-header__heading h1 {
  color: #ffffff;
}

.header-social__list {
  margin-top: 20px;
}
.header-social__icon {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.header-social__icon i {
  color: #ffffff;
}

a.button {
  border-color: #72b2c0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  color: #72b2c0;
  display: block;
  font-size: 22px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  width: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 37.5em) {
  a.button {
    width: 45%;
  }
}

a.button:hover,
a.button:focus {
  color: #ffffff;
  background-color: #72b2c0;
}

.l-main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 57rem;
}

.l-main--inner {
  padding-right: 10px;
  padding-left: 10px;
}

.intro,
.noteworthy-examples-section,
.cv-section,
.random-links-section,
.work-section {
  margin-bottom: 80px;
  width: 100%;
}

.noteworthy-examples__example {
  margin-bottom: 40px;
}

.project__body,
.cv-section__body,
.random-links-section__body {
  margin-bottom: 30px;
}

.project__button,
.cv-section__button,
.random-links-section__button,
.work-example__button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.work-section__body {
  margin-bottom: 40px;
}

.work-example {
  margin-bottom: 30px;
}

.work-example__button {
  text-align: center;
}
.work-example__body {
  margin-bottom: 40px;
}
.work-example__button .button {
  display: inline-block;
}

.work-example__image {
  padding-bottom: 20px;
}

@media only screen and (min-width: 37.5em) {
  .work-example__image {
    float: right;
    padding-left: 20px;
  }
  .work-example.even .work-example__image {
    float: left;
    padding-right: 20px;
    padding-left: 0;
  }
}


footer {
  background-color: #f7f7f7;
  height: 150px;
}
